/*  display:flex ... si browser "moderne". Pas parfait qd meme.
 *
 */
 
html, body {
	background-color: light red;
	width: 100%;
    height: 100%;
}
	
#divmap {
	background-color: grey;
	display: inline-block;
	min-width: 300px;
	min-height: 300px;
	position: relative;	/* Doit avoir une position pour que msgmap en herite */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#divinsta {
	background-color: lightgreen;
	display: inline-block;
	float: right;
	min-width: 340px;
	position: relative;
}

#divflickr {
	background-color: lightblue;
	display: inline-block;
	float: left;
	min-width: 260px;
	max-height: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}


#flickrfeed {
	list-style: none;
	position: relative;
	max-height: 90%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 20px;
	margin: 0;
	padding: 0;
	overflow: auto;	/* scroll-bars if ... */
	text-indent: 10px;
}

#logo {
	display: block;
	position: absolute;
	bottom: 20px;
	right: 0;
	width: 92px;
	height: 129px;
	background: transparent url("logo.png") center center no-repeat;
	z-index: 800;
}

#msgmap {
	text-align: center;
	margin: 4px;
	position: absolute;
	top:0;
	left: 60px;
	right: 60px;
	z-index: 800;
	border:none;
}
